*{
  
        box-sizing: border-box;
        font-family: "lucida sans";
    }
    
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 50px;
        background-color: rgb(112, 41, 99);
    }
    ul{
        display:flex;
        list-style: none;
        width: 35%;
        justify-content: space-between;
    }
    main{
        width:1200px;
        margin:auto;
        text-align: center; 
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .profile-item {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    footer{     
           width:1200px;
        margin:auto;
        text-align: center; }